@tailwind base;
@tailwind components;
@tailwind utilities;

.no-hover-effect:hover,
.no-hover-effect:active {
  /* 覆蓋所有可能的 hover 和 active 樣式 */
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
  /* 添加其他需要覆蓋的樣式 */
}
